*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.hero-image {
    height: 100%;
    width: 100%;
    
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(345330.jpg);

  height: 100%;

  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    background-color: #555555;
    position: relative;
    box-shadow: 0 0 20px 9px #403f4b1f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 35px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.check-box{
    margin: 30px 10px 32px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#register{
    left: 50px;
}

#fecha{
    color: rgb(122, 122, 122);
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #431E38;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}

.R-btn{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: #431E38;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}

.LI-btn{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: #431E38;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}